<div class="login_component">
          <div id="w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd6c-91a2b9da" class="login_left">
            <div id="w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd6d-91a2b9da" class="login_tabs">
              <div class="login_form w-form">
                <h1 class="heading-style-h4 text-align-center">
{{ section.settings.text_create_account }}
</h1>
                {% form 'create_customer', return_to: '/', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                    <div li-object="form.errors | default_errors" class="text-size-small text-style-error">{{ form.errors | default_errors }}</div>
                      </div>
{% endif %}
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">First Name</label><input class="form_input is-secondary w-input" maxlength="256" name="customer[first_name]" data-name="Field 5" placeholder="First Name" type="text" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Last Name</label><input class="form_input is-secondary w-input" maxlength="256" name="customer[last_name]" data-name="Field 5" placeholder="Last Name" type="text" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Email Address</label><input class="form_input is-secondary w-input" maxlength="256" name="customer[email]" data-name="Field 5" placeholder="Email Address" type="email" id="field-5" required=""></div>
                  <div class="form_field-wrapper"><label for="field-5" class="form_hidden-label">Password</label><input class="form_input is-secondary w-input" maxlength="256" name="customer[password]" data-name="Field 5" placeholder="Password" type="password" id="field-5" required=""></div><label class="w-checkbox form_checkbox"><input type="checkbox" name="" data-name="" required="" class="w-checkbox-input form_checkbox-icon is-alt"><span class="form_checkbox-label w-form-label">
{{ section.settings.text_checkbox_legal }}
</span></label><label class="w-checkbox form_checkbox"><input type="checkbox" name="customer[accepts_marketing]" data-name="" class="w-checkbox-input form_checkbox-icon is-alt"><span class="form_checkbox-label w-form-label">
{{ section.settings.text_checkbox_marketing }}
</span></label><input type="submit" data-wait="Please wait" id="w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd8d-91a2b9da" class="button max-width-full w-button" value="Register now">
                {% endform %}
                <div class="text-align-center text-size-small-9"><span class="text-size-small">
{{ section.settings.text_already_have_an_account }}
</span>
                  <a href="{{ routes.account_login_url }}" li-object:href="routes.account_login_url" class="text-size-small margin-left margin-small text-weight-semibold">Login now</a>
                </div>
                <div class="hide w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="hide w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd9a-91a2b9da" class="login_image-wrapper">{% if section.settings.image_bild %}
{{ section.settings.image_bild | image_url: width: 800 | image_tag: id: 'w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd9b-91a2b9da', loading: 'lazy', class: 'login_image' }}
{% else %}
<img id="w-node-_3cbc7dac-2106-97df-77c9-b111eb3ffd9b-91a2b9da" alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy" class="login_image">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Login",
    "class": "section_login",
    "settings": [
        {
            "id": "text_create_account",
            "type": "text",
            "label": "Create Account",
            "default": "Create an Account"
        },
        {
            "id": "text_checkbox_legal",
            "type": "text",
            "label": "Checkbox Legal",
            "default": "Checkbox Legal"
        },
        {
            "id": "text_checkbox_marketing",
            "type": "text",
            "label": "Checkbox Marketing",
            "default": "Checkbox Marketing"
        },
        {
            "id": "text_already_have_an_account",
            "type": "text",
            "label": "Already have an Account",
            "default": "Already have an Account?"
        },
        {
            "id": "image_bild",
            "type": "image_picker",
            "label": "Bild"
        }
    ],
    "presets": [
        {
            "name": "Login",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "customers\/login"
        ]
    }
} {% endschema %}